#iframeID{background: #000;color: green !important;border: 1px solid #ccc;width: 100%;height: 400px;overflow-y: scroll;}
.emi_ssh_select{margin-bottom: 10px;}
#confirm_init_mag_ssh{cursor: pointer;}
#iframeIDGit{background: #000;color: green !important;border: 1px solid #ccc;width: 100%;height: 400px;overflow-y: scroll;}
.emi_ssh_select{margin-bottom: 10px;}
#confirm_init_git_ssh{cursor: pointer;}